<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    <div class="list">
   <div class="item item-divider">Item Divider 1</div>
   <div class="item">Item 1</div>
   <div class="item">Item 2</div>
   <div class="item">Item 3</div>

   <div class="item item-divider">Item Divider 2</div>
   <div class="item">Item 4</div>
   <div class="item">Item 5</div>
   <div class="item">Item 6</div>
</div>
<div class="list">
   <div class="item item-avatar">
      <img src="my-image.png">
      <h3>Avatar</h3>
   </div>

   <div class="item item-thumbnail-left">
      <img src="my-image.png">
      <h3>Thumbnail</h3>
   </div>
</div>
  </ion-content>
</ion-view>
