

 <ion-view view-title="Login" name="login-view">
  <ion-content class="padding">

 
 
 
  <!--action sheet-->
   <button class = "button" ng-controller="myCtrl" ng-click="triggerActionSheet()">Action Sheet Button</button>

    <button class = "button" ng-controller="myCtrl2" ng-click="showBackdrop()">BackDrop Button</button>
 
<button ng-controller="myCtrl3" on-touch = "showLoading()" class="button">Test</button>
<button ng-controller="myCtrl3" on-touch = "hideLoading()" class="button">Test</button>
 <!--checkbox ng-->
 <ion-checkbox   ng-model="checkboxModel.value1">Checkbox 1</ion-checkbox>

<ion-checkbox   ng-model="checkboxModel.value2">Checkbox 2</ion-checkbox>

<p>Checkbox 1 value is: <b>{{checkboxModel.value1}}</b></p>
<p>Checkbox 2 value is: <b>{{checkboxModel.value2}}</b></p>
       




       
<!--Login     -->
    
  <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>


  <!--paragraph-->
  <p class="balanced">Paragraph 1...</p>



<!--buttons-->

<button class="button button-block">
   button-block
</button>

<button class="button button-full">
   button-full
</button>

<button class="button button-assertive">
   button-assertive
</button>

<button class="button icon ion-home">
</button>

<button class="button icon icon-left ion-home">
   Home
</button>


<!--list-->

<div class="list">
   <div class="item">Item 1</div>
   <div class="item">Item 2</div>
   <div class="item">Item 3</div>
</div>




<!--cards-->

<div class="card">
   <div class="item">
      This is a Ionic card without item-text-wrap class.
   </div>
   
   <div class="item item-text-wrap">
      This is a Ionic card with item-text-wrap class.
   </div>
</div>

<div class="card list">
   <div class="item item-divider">
      Card header
   </div>
   
   <div class="item item-text-wrap">
      Card text...
   </div>
   
   <div class="item item-divider">
      Card Footer
   </div>
</div>


<!--complete card-->
<div class="card">
   <div class="item item-avatar">
      <img src="my-image.png">
      <h2>Card Name</h2>
   </div>

   <div class="item item-body">
      <img class="full-image" src="my-image.png">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. Nam tristique elit massa, quis faucibus augue finibus ac.
</div>

<div class="list">
   <label class="item item-input">
   <input type="text" placeholder="Placeholder 1">
   </label>

   <label class="item item-input">
   <input type="text" placeholder="Placeholder 2">
   </label>
</div>

<div class="list">
   <label class="item item-input item-stacked-label">
   <span class="input-label">Label 1</span>
   <input type="text" placeholder="Placeholder 1">
   </label>

   <label class="item item-input item-stacked-label">
   <span class="input-label">Label 2</span>
   <input type="text" placeholder="Placeholder 2">
   </label>
</div>

<!--list-->
<div class="list">
   <div class="item item-input-inset">
      <label class="item item-input-wrapper">		
      <input type="text" placeholder="Placeholder 1">
      </label>
      <button class="button">button</button>
   </div>

   <div class="item item-input-inset">
      <label class="item item-input-wrapper">
      <i class="icon ion-edit placeholder-icon"></i>
      <input type="text" placeholder="Placeholder 2">
      </label>
   </div>
</div>

<!--checkbox-->
<ul class="list">
<li class="item item-checkbox checkbox-light">
   Checbox 1
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox checkbox-stable">
   Checkbox 2
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox  checkbox-positive">
   Checkbox 3
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox  checkbox-calm">
Checkbox 4
<label class="checkbox">
<input type="checkbox">
</label>
</li>

<li class="item item-checkbox  checkbox-balanced">
   Checkbox 5
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox  checkbox-energized">
   Checkbox 6
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox  checkbox-assertive">
   Checkbox 7
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox  checkbox-royal">
   Checkbox 8
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox  checkbox-dark">
   Checkbox 9
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

</ul>


<!--radio-->
<div class="list">
   <div class=" item item-divider">
      Group1
   </div>

   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         Choice 1
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>

   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         Choice 2
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>

   <div class=" item item-divider">
      Group2
   </div>

   <label class="item item-radio">
      <input type="radio" name="group2">
      <div class="item-content">
         Choice 3
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>

   <label class="item item-radio">
      <input type="radio" name="group2">
      <div class="item-content">
         Choice 4
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>

</div>
<div class="list">

   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         Choice 1
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>

   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         Choice 2
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>

   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         Choice 3
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>

   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         Choice 4
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>

</div>


<!--range-->
<div class = "item range">
   <i class = "icon ion-volume-low"></i>
   <input type = "range" name = "volume">
   <i class = "icon ion-volume-high"></i>
</div>



<!--select-->
<label class = "item item-input item-select">
   <div class = "input-label">
      Select
   </div>
	
   <select>
      <option>Option 1</option>
      <option selected>Option 2</option>
      <option>Option 3</option>
   </select>
</label>


<div class = "list">
   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         Select
      </div>
		
      <select>
         <option>Option 1</option>
         <option selected>Option 2</option>
         <option>Option 3</option>
      </select>
		
   </label>

   <label class = "item item-input item-select item-stable">
      <div class = "input-label">
         Select
      </div>
		
      <select>
         <option>Option 1</option>
         <option selected>Option 2</option>
         <option>Option 3</option>
      </select>
   </label>

   <label class = "item item-input item-select item-positive">
      <div class = "input-label">
         Select
      </div>
		
      <select>
         <option>Option 1</option>
         <option selected>Option 2</option>
         <option>Option 3</option>
      </select>
   </label>

   <label class = "item item-input item-select item-calm">
      <div class = "input-label">
         Select
      </div>
		
      <select>
         <option>Option 1</option>
         <option selected>Option 2</option>
         <option>Option 3</option>
      </select>
   </label>

   <label class = "item item-input item-select item-balanced">
      <div class = "input-label">
         Select
      </div>
		
      <select>
         <option>Option 1</option>
         <option selected>Option 2</option>
         <option>Option 3</option>
      </select>
   </label>

   <label class = "item item-input item-select item-energized">
      <div class = "input-label">
         Select
      </div>
		
      <select>
         <option>Option 1</option>
         <option selected>Option 2</option>
         <option>Option 3</option>
      </select>
   </label>

   <label class = "item item-input item-select item-assertive">
      <div class = "input-label">
         Select
      </div>
		
      <select>
         <option>Option 1</option>
         <option selected>Option 2</option>
         <option>Option 3</option>
      </select>
   </label>

   <label class = "item item-input item-select item-royal">
      <div class = "input-label">
         Select
      </div>
		
      <select>
         <option>Option 1</option>
         <option selected>Option 2</option>
         <option>Option 3</option>
      </select>
   </label>

   <label class = "item item-input item-select item-dark">
      <div class = "input-label">
         Select
      </div>
		
      <select>
         <option>Option 1</option>
         <option selected>Option 2</option>
         <option>Option 3</option>
      </select>
   </label>
	
</div>
  
  
  
  
  <!--tabs-->
  <!--<div class = "tabs">
   <a class = "tab-item">
      Tab 1
   </a>
	
   <a class = "tab-item">
      Tab 2
   </a>
	
   <a class = "tab-item">
      Tab 3
   </a>
</div>-->


<!--grid-->
<div class = "row responsive-sm">
   <div class = "col col-25">col 1</div>
   <div class = "col">col 2</div>
   <div class = "col">col 3</div>
   <div class = "col">col 4</div>
   <div class = "col">col 5</div>
</div>

<div class = "row responsive-sm">
   <div class = "col">col 1</div>
   <div class = "col">col 2</div>
   <div class = "col">col 3</div>
</div>

 
  
  
  <!--delete button-->
  <ion-list show-delete = "showDelete1">
   <ion-item>
      <ion-delete-button class = "ion-minus-circled"></ion-delete-button>
      Item 1
   </ion-item>
	
   <ion-item>
      <ion-delete-button class = "ion-minus-circled"></ion-delete-button>
      Item 2
   </ion-item>
</ion-list>

<ion-toggle ng-model = "showDelete2">
   Show Delete 2
</ion-toggle>
  
  
  
  
  
  
  </ion-content>
</ion-view>








