<ion-view view-title="Chats">
  <ion-content>
    
<div ng-controller="AppCtrl">
<form>

<center>

<div class="list list-inset" style="margin-top: 200px">
          <label class="item item-input">
              <input type="text" placeholder="Mobile" ng-model="mobile">
          </label>
        
      </div>
      <button class="button button-block button-positive" ng-model="mobile"  ng-click="submit2(mobile)">GET OTP</button>
<p>Output Message : {{msg}}</p>
<p>StatusCode: {{statusval}}</p>
<p>Status: {{statustext}}</p>
<p>Response Headers: {{headers}}</p>
</center>
</form>
</div>
 </ion-content>
</ion-view>
